# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.MonoGame-LoginInterface.iml
# Datasource local storage ignored files
/../../../../../../../../../:\MonoGameProject\MonoGameProject2\MonoGameProject\MonoGame\MonoGame-LoginInterface\.idea\.idea.MonoGame-LoginInterface\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
